<div data-ng-controller="mainController as vm">
   
    <!-- Header -->
    <header>
        <nav id="headerNav" class="navbar navbar-default">
            <div class="container-fluid">            
                    <div id="langBox" my-language></div>
            </div>
        </nav>  
    </header>

    <!-- Main Content-->
    <div id="gridPosition">
        <div id="mainContent" class="container">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg" 
                        data-ng-click="showAddModal()" translate>addBtn</button><br><br>
                <div data-ui-grid="vm.gridOptions" class="grid" data-ui-grid-edit></div>
            </div>  
        </div>
    </div>

</div>