<div data-ng-controller="mainController">
   
    <!-- Header -->
    <header>
        <nav id="headerNav" class="navbar navbar-default">
            <div class="container-fluid">            
                    <h1 translate>description</h1>
                    <div id="langBox" my-language></div>
            </div>
        </nav>  
    </header>

    <!-- Main Content-->
    <div id="gridPosition">
        <div id="mainContent" class="container">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addModal" >Add</button><br><br>
                <div data-ui-grid="gridOptions" class="grid"></div>
            </div>  
        </div>
    </div>

    <!-- Modal Adding new estimation-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new estimation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                    <div class="form-group" data-ng-repeat="header in gridHeader">
                        <label  class="col-sm-6 control-label" >{{header.displayName}} : </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" ng-model="newEstimation[header.field]">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" data-ng-click="saveEstimation()" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>