<div data-ng-controller="mainController">
<header>
    <nav id="headerNav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-brand">
              <div data-my-language></div>
            </div>
        </div>
   </nav>  
</header>
<div id="gridPosition">
    <div id="mainContent" class="container">
        <div class="row">
            <button class="btn btn-success" >Add</button><br><br>
            <div data-ng-model="data" data-ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>
</div>
</div>