.grid {
  width: 100%;
  height: 1500px; }

#headerNav {
  background-color: midnightblue;
  height: 150px; }

.container-fluid {
  position: relative;
  width: 100%;
  height: 100%;
}
table, th {
  border: 1px solid black; }

#langBox {
  position: absolute;
  bottom: 5px;
  right: 5px; 
}

h1 {
  color: navajowhite;
}

.grid-action-cell {
    width: 50px;
    margin: auto;  
}
#btn-resize{
    width: 100%;
}