<!-- Modal Adding new estimation-->
<div>

    <div class="modal-header">
        <button type="button" class="close" aria-label="Close"
            data-ng-click="onClose()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new estimation</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group" 
                 data-ng-repeat="header in gridHeader">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" placeholder="header.displayName"
                               data-ng-click="changeContent($event)"
                               data-ng-model="newEstimation[header.field]">
                    </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="form-control"><label class="label-control" style="margin-right: 20px;">Story Points</label><story-point></story-point></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-ng-click="onCancel()"> Cancel</button>
        <button type="button" 
                data-ng-click="addEstimation()" class="btn btn-primary">Save</button>
    </div>

</div>