<!-- Modal Delete estimation-->
<div>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close"
            data-ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure ?</h4>
    </div>
    <div class="modal-body">
        <strong>You are about to delete an important estimation!</strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="$close()">No</button>
        <button type="button" class="btn btn-primary" data-ng-click="vm.del()">Yes</button>
    </div>
</div>
</div>
